$themeBgColor: lightgray;
$themeFont: sans-serif;
$themePagePadding: 0 0.5rem 0;
$bgcolor: rgb(106, 175, 253);
$topLeftRadius: 18px;
$btmRightRadius: 18px;

// contexutal variables for buttons

$btnBorder: 2px solid #fff;
$btnBgcolorHover: rgb(54, 146, 250);

// section variables

// img variables

$imgBorders: 2px solid black;

// header varaibles

$hFontSize: 1.2rem;
$hColor: rgb(104, 99, 99);
$hMarginB: 1rem;

// paragraph variables

$pColor: rgb(90, 84, 84);

// anchor colors

$anchorColor: indigo;
